PRIVATE_KEY=PRIVATE_KEY
PUBLIC_KEY=PUBLIC_KEY
# DATABASE_PRIVATE_URL=postgresql://postgres:1234@localhost/postgres
DATABASE_PRIVATE_URL=sqlite:///tests/temp/db-private.sqlite3
DATABASE_READONLY_URL=sqlite:///tests/temp/db.sqlite3
EXTERNAL_ADDRESS=next.obudget.org
SECRET_KEY=SECRET_KEY
